<section class="panel">
	<div class="panel-title">
		Produtos
		<i class="bi bi-box-seam"></i>
	</div>
	<hr>

	<router-outlet></router-outlet>

	<hr>
	@if(erro()){
	<p class="error">{{ erro()?.mensagem ?? 'Erro desconhecido' }}</p>
	}

	<h3>Listagem dos Produtos</h3>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Código</th>
				<th>Descrição</th>
				<th>Saldo</th>
			</tr>
		</thead>
		<tbody>
			@for (produto of produtos(); track $index) {
			<tr>
				<td>{{ produto.id }}</td>
				<td>{{ produto.codigo }}</td>
				<td>{{ produto.descricao }}</td>
				<td>{{ produto.saldo }}</td>
			</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4">Total de produtos: {{ produtos().length }}</td>
			</tr>
		</tfoot>
	</table>
</section>