:host{
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

hr{
	margin: 2rem 0;
}

h3{
	margin: 1rem 0;
}

.text-right{
	text-align: right;
}

.col-action{
	width: 120px;
	text-align: center;
}