<section class="panel">
	<div class="panel-title">
		<div class="panel-text">
			Produtos
		</div>
		<div class="actions">
			<a routerLink="/produtos/novo" routerLinkActive="active">
				<i class="bi bi-plus"></i>
				Novo
			</a>
			<i class="bi bi-box-seam"></i>
		</div>
	</div>

	<router-outlet></router-outlet>

	<hr>
	@if(erro()){
	<p class="error">{{ erro()?.mensagem ?? 'Erro desconhecido' }}</p>
	}

	<h3>Listagem dos Produtos</h3>
	<table>
		<thead>
			<tr>
				<!-- <th>ID</th> -->
				<th>Código</th>
				<th>Descrição</th>
				<th>Saldo</th>
				<th class="col-action">Ações</th>
			</tr>
		</thead>
		@if(listagemCarregando()){
		<tr>
			<td colspan="4" class="text-center">Carregando...</td>
		</tr>
		} @else {

		<tbody>
			@for (produto of produtos(); track $index) {
			<tr>
				<!-- <td>{{ produto.id }}</td> -->
				<td>{{ produto.codigo }}</td>
				<td>{{ produto.descricao }}</td>
				<td>{{ produto.saldo }}</td>
				<td class="col-action">
					<div class="flex text-center gap-2">
						<a routerLink="/produtos/editar/{{ produto.id }}" routerLinkActive="active"
							(click)="editandoProduto(produto)">
							<i class="bi bi-pencil"></i>
							Editar
						</a>
						<a routerLink="/produtos/excluir/{{ produto.id }}" routerLinkActive="active"
							(click)="excluindoProduto(produto)" class="text-danger">
							<i class="bi bi-trash"></i>
							Excluir
						</a>
					</div>
				</td>
			</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4" class="text-right">Total de produtos: {{ produtos().length }}</td>
			</tr>
		</tfoot>
		}
	</table>
</section>