body {
	margin: 0;
}

.panel {
	background: #ffffff;
	border-radius: 12px;
	box-shadow: 0 6px 16px rgba(15, 23, 42, 0.08);
	padding: 1rem;
}

.panel-title {
	font-size: 1.5rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	background: linear-gradient(90deg,
		hsl(199 100 50),
		hsl(199 100 50),
		transparent,
		transparent,
		transparent);
	border-radius: 8px;
	padding-left: 4px;
}
.panel-text{
	color: hsl(199 100 100);
}

.actions {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.3rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 0.8rem;
	margin-bottom: 1rem;
}

form.grid{
	align-items: end;
}

label {
	display: grid;
	gap: 0.35rem;
	font-weight: 600;
}

input,
select,
button,
.description {
	padding: 0.55rem;
	border-radius: 8px;
	height: 41px;
}
input,
select{
	border: 1px solid #cbd5e1;
}

button {
	cursor: pointer;
	background: #0ea5e9;
	border: none;
	color: #fff;
	font-weight: 600;
}

button:disabled {
	background: #94a3b8;
	cursor: not-allowed;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	border-bottom: 1px solid #e2e8f0;
	padding: 0.6rem;
	text-align: left;
}
td.col-action{
	padding: 0rem;
}

.error {
	color: #b91c1c;
	font-weight: 700;
}


a {
  text-decoration: none;
  color: #1d4ed8;
  font-weight: 600;
  padding: 0.35rem 0.7rem;
  border-radius: 8px;
	outline: 1px solid hsla(224, 76%, 48%, 0.07);
	transition: background 0.2s;
}

a.active {
	transition: background 0.2s;
  background: #dbeafe;
	outline: none;
}
a:hover {
	transition: background 0.2s;
	background: #dbeafe;
	outline: none;
}


hr {
	margin: 1rem 0;
}


.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-danger{
	color: #b91c1c;
}
.bg-danger{
	background-color: #b91c1c;
	color: #fff;
}
.flex{
	display: flex;
}
.f-s-b{
	justify-content: space-between;
}
.f-a-c{
	align-items: center;
}
.gap-1{
	gap: 0.25rem;
}
.gap-2{
	gap: 0.5rem;
}
.gap-3{
	gap: 0.75rem;
}
