<section class="panel">
	<h2>Cadastro de Produtos</h2>
	<form class="grid" (ngSubmit)="criarProduto()">
		<label>
			Código
			<input name="codigo" [(ngModel)]="codigo" required />
		</label>
		<label>
			Descrição
			<input name="descricao" [(ngModel)]="descricao" required />
		</label>
		<label>
			Saldo
			<input name="saldo" [(ngModel)]="saldo" type="number" min="0" required />
		</label>
		<button type="submit">Salvar Produto</button>
	</form>
	@if(erro){
	<p class="error">{{ erro }}</p>
	}
</section>

<section class="panel">
	<h3>Produtos cadastrados</h3>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Código</th>
				<th>Descrição</th>
				<th>Saldo</th>
			</tr>
		</thead>
		<tbody>
			@for (produto of produtos; track $index) {
			<tr>
				<td>{{ produto.id }}</td>
				<td>{{ produto.codigo }}</td>
				<td>{{ produto.descricao }}</td>
				<td>{{ produto.saldo }}</td>
			</tr>
			}
		</tbody>
	</table>
</section>