<section class="panel">
	<div class="panel-title">
		<div class="panel-text">
			Nota Fiscal
		</div>
		<div class="actions">
			<i class="bi bi-receipt"></i>
		</div>
	</div>
	<hr>
	<div class="gerar-notas-container">
		<div class="gerar-notas-itens">
			<h3>Inclusão de Produtos</h3>
			<form class="grid" (ngSubmit)="adicionarItem()">
				<label>
					Produto *
					<select name="produto" (ngModelChange)="produtoSelecionadoId.set($event)" [ngModel]="produtoSelecionadoId()"
						required>
						<option [ngValue]="null">Selecione...</option>
						@for (produto of produtos(); track $index) {
						<option [ngValue]="produto.id">
							{{ produto.codigo }} - {{ produto.descricao }} - Saldo: {{ produto.saldo }}
						</option>
						}
					</select>
				</label>
				<label>
					Quantidade *
					<input name="quantidade" (ngModelChange)="quantidade.set($event)" [ngModel]="quantidade()" type="number"
						min="1" required />
				</label>
				<button type="submit" [disabled]="produtoSelecionadoId() == null || quantidade() <= 0">
					<i class="bi bi-plus-circle"></i>
					Acrescentar Produto à Nota
				</button>
			</form>

			<table>
				<thead>
					<tr>
						<th>Produto</th>
						<th>Quantidade</th>
						<th class="col-action">Ações</th>
					</tr>
				</thead>
				<tbody>
					@for (item of itensNovaNota(); track $index) {
					<tr>
						<td>{{ item.descricaoProduto }}</td>
						<td>{{ item.quantidade }}</td>
						<td class="col-action">
							<a (click)="removerItem(item)" class="text-danger cursor-pointer">
								<i class="bi bi-trash"></i>
								Remover Produto
							</a>
						</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="gerar-notas-execucao">
			<button [disabled]="itensNovaNota().length === 0" (click)="criarNota()" class="gerar-notas-botao">
				<div class="gerar-notas-botao-icone">
					<i class="bi bi-receipt"></i>
				</div>
				<div>
					<i class="bi bi-check2-all"></i>
					Gerar Nota Fiscal
				</div>
			</button>
			@if (!erro()) {
			<p class="gerar-notas-erro text-danger">{{ erro() }}</p>
			}
		</div>
	</div>
</section>

<section class="panel">
	<h3>Listagem das Notas Fiscais</h3>
	<table>
		<thead>
			<tr>
				<th>Número</th>
				<th>Status</th>
				<th>Itens</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			@for (nota of notas(); track $index) {
			<tr>
				<td>{{ nota.numeroSequencial }}</td>
				<td>{{ nota.status }}</td>
				<td>{{ nota.itens.length }}</td>
				<td>
					<button [disabled]="nota.status !== 'Aberta' || imprimindoId() === nota.id" (click)="imprimir(nota.id)">
						{{ imprimindoId() === nota.id ? 'Processando...' : 'Imprimir' }}
					</button>
				</td>
			</tr>
			}
		</tbody>
	</table>
</section>