<section class="panel">
	<div class="panel-title">
		<div class="panel-text">
			Nota Fiscal
		</div>
		<div class="actions">
			<i class="bi bi-receipt"></i>
		</div>
	</div>
	<hr>
	@if(produtos().length === 0) {
	<p class="text-danger">
		Nenhum produto cadastrado. Cadastre produtos para gerar notas fiscais.
	</p>
	} @else {
	<div class="gerar-notas-container">
		<div class="gerar-notas-itens">
			<h3>Inclusão de Produtos</h3>
			<form class="grid" (ngSubmit)="adicionarItem()">
				<label>
					Produto *
					<select name="produto" (ngModelChange)="produtoInputId.set($event)" [ngModel]="produtoInputId()" required>
						<option [ngValue]="null">Selecione...</option>
						@for (produto of produtos(); track $index) {
						<option [ngValue]="produto.id">
							{{ produto.codigo }} - {{ produto.descricao }} - Saldo: {{ produto.saldo }}
						</option>
						}
					</select>
				</label>
				<label>
					Quantidade *
					<input name="quantidade" (ngModelChange)="quantidadeInput.set($event)" [ngModel]="quantidadeInput()"
						type="number" min="1" required />
				</label>
				<button type="submit" [disabled]="produtoInputId() == null || quantidadeInput() <= 0">
					<i class="bi bi-plus-circle"></i>
					Acrescentar Produto à Nota
				</button>
			</form>
			@if (erroInclusaoProduto()) {
			<p class="text-danger">{{ erroInclusaoProduto() }}</p>
			}

			<table>
				<thead>
					<tr>
						<th>Produto</th>
						<th>Quantidade</th>
						<th class="col-action">Ações</th>
					</tr>
				</thead>
				<tbody>
					@for (item of itensNovaNota(); track $index) {
					<tr>
						<td>{{ item.descricaoProduto }}</td>
						<td>{{ item.quantidade }}</td>
						<td class="col-action">
							<a (click)="removerItem(item)" class="text-danger cursor-pointer">
								<i class="bi bi-trash"></i>
								Remover Produto
							</a>
						</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="gerar-notas-execucao">
			<button [disabled]="itensNovaNota().length === 0" (click)="gerarNota()" class="gerar-notas-botao">
				<div class="gerar-notas-botao-icone">
					<i class="bi bi-receipt"></i>
				</div>
				<div>
					<i class="bi bi-check2-all"></i>
					Gerar Nota Fiscal
				</div>
			</button>
			@if (erroGeracaoNota()) {
			<p class="gerar-notas-erro text-danger">{{ erroGeracaoNota() }}</p>
			}
		</div>
	</div>
	}
</section>

<section class="panel">
	<h3>Listagem das Notas Fiscais</h3>
	<table>
		<thead>
			<tr>
				<th class="col-num-sequencia">Número</th>
				<th>Produtos</th>
				<th class="col-status">Status</th>
				<th class="col-action">Ações</th>
			</tr>
		</thead>
		<tbody>
			@for (nota of notas(); track $index) {
			<tr [style.backgroundColor]="nota.status === 1 ? 'var(--sys-success-15)' : 'var(--sys-outline-15)'">
				<td class="col-num-sequencia">{{ nota.numeroSequencial }}</td>
				<td>{{ nota.itens.length }}</td>
				<td class="col-status">
					{{ nota.status === 1 ? 'Aberta' : 'Fechada' }}
				</td>
				<td class="col-action">
					<button [disabled]="nota.status !== 1 || imprimindoId().includes(nota.id)" (click)="imprimir(nota.id)"
						[style.width]="'100%'">
						<i class="bi bi-printer"></i>
						{{ imprimindoId().includes(nota.id) ? 'Processando...' : 'Imprimir' }}
					</button>
				</td>
			</tr>
			}
		</tbody>
	</table>
	@if (erroListagemNotas()) {
	<p class="text-danger text-right">{{ erroListagemNotas() }}</p>
	}
	<div class="nota-fiscal-legenda">
		<ul>
			<li>
				<i class="bi bi-circle-fill text-success"></i>
				Aberta
			</li>
			<li>
				<i class="bi bi-circle-fill text-danger"></i>
				Fechada
			</li>
		</ul>
	</div>
</section>